*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans";
}

html{
    scroll-behavior: smooth; 
}

.nav-item {
    margin-left: 70px;
    display: inline;
    text-decoration: none;
    margin-right: 150px;
    transition: transform 0.3s ease;
}

.nav-item:hover {
    transform: scale(1.2);
}
li{
    display: inline;
    text-decoration: none;
}


.nav_container{
    display: flex;
    height: 8vh;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
}

.nav_items{
    display: inline;
    font-size: 10px;
    justify-content: center;
    flex-direction: row;
}

.presentation {
    display: flex;
    height: 100vh;
    width: 95vw;
}

.intro{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height: 100%;
    width: 50%;
    margin-left: 8vw;
}

#big_car{
    height: 100%;
    width: 50%;
}

#orange_car{
    width: 100%;
    margin-top: 20%;
}

h1{
    font-size: 20vh;
}

#logo{
    width: 5vw;
    margin-left: 100px;
}

.boton {
    height: 3vw;
    width: 8vw;
    margin-right: 100px ;
    background-color: #E53114;
    color: white;
    border: none;
    font-size: larger;
    cursor: pointer;
    border-radius: 10px;
}

.nav_items, li{
    font-size: large;
}

#conoce_mas{
    margin-top: 5vw;
}

#accesorios{
    height: 3vw;
    width: 15vw;
    background-color: black;
}

.login{
    font-size: large;
    cursor: pointer;
}

.section{
    display: flex;
    flex-direction: column;
    background-color: #E6E6E6;
    height: 100vh;
    width: 100vw;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.card_wrapper_chevrolet{
    display: flex;
    gap: 1em;
    justify-content: center;
}

.card_wrapper_ford{
    display: none;
    gap: 1em;
    justify-content: center;
}

.socialicons{
    display: flex;
    gap: 30px;
}

.titulo_contacto{
    text-align: center;
}

.form_buttons{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.container_logos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 200px;
}

.container_logos :nth-child(n){
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.marcas1, .marcas2, .marcas3{
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    cursor: pointer;
}

.marcas1{
    background-image: url("../img/chevrolet_logo.png");

}

.marcas2{
    background-image: url("../img/ford_logo.png");
}

.marcas3{
    background-image: url("../img/volkswagen_logo.png");
}

#wrapper_ford, #wrapper_chevrolet {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

#copyright{
    margin-top: 40px;
    font-size: medium;
    text-align: center;
    background-color: #E6E6E6;
}

.wrapper {
    min-height: calc(100% - 4rem);
  }


.foot {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* define 4 columnas de igual tamaño */
    grid-template-rows: repeat(4, 1fr); /* define 4 filas de igual tamaño */
    height: 200px; /*altura del contenedor */
    background-color: #E6E6E6;
}
  
  .item {
    background-color: #E6E6E6;
    font-size: 15px;
    padding: 20px;
}

.suscription{
    text-align: center;
    font-size: 12px;
    padding: 10px;
    border-radius: 50%;
}

#suscribirse{
    display: block;
    font-size: small;
    margin-top: 10px;
}

.cont{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 20px;
}

a {
    text-decoration: none;
}

a:visited{
    color: inherit;
}

aside.border-right {
    border-width: 0px;
    border-right: 1px;
    border-color: #f2f2f2;
    border-style: solid;
    margin-right: 20px;
  }

.bsc-shopping-cart{
    color: white;
}


/* Responsive */

@media only screen and (max-width: 800px){
    .nav_container{
        max-width: 100vw;
        gap: 0;
        height: 15vh;
    }
    #logo{
        margin: 7vw;
        width: 15vw;
    }
    /* Menu acordeon *Pendiente* */
    .nav_items{
        font-size: 10px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    li{
        margin-right: 2vw;
    }
    .botones_login{
        align-self: center;
    }
    h1{
        font-size: 5vh;
    }
    .presentation{
        flex-direction: column;
    }
    .boton{
        margin: 20px;
        height: 15vw;
        width: 30vw;
    }
    .intro{
        width: 100%;
        margin: auto;
        padding: 10px;
    }
    #big_car{
        width: 100%;
    }

    /*  FOOTER */
    .foot{
        display: flex;
        flex-direction: column;
        height: auto;
        margin-top: 5px;
    }
    footer{
        position: relative;
        bottom: auto;
    }
    #suscribirse{
        margin: 4px auto;
    }

}

@media only screen and (max-width: 1280px){
    footer{
        margin-top: 10px;
        bottom: auto !important;
        height: auto;
    } 
}
