
.formulario_registro{
    border:1px solid #ccc";
}

.contenedor_formulario {
    padding: 16px;
    background-color: #ddd;
}

.inputs {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: block;
    border: none;
    background: #f1f1f1;
}
  
.inputs:focus {
    background-color: #ddd;
    outline: none;
}
  
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
  
.btn_reg {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
  
button:hover {
    opacity:1;
}
  
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

.signupbtn{
    padding: 14px 20px;
    background-color: #04AA6D;
}
  
.cancelbtn, .signupbtn {
    float: left;
    width: 45%;
    margin: 25px 2.5%;
}
  
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
  
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
      width: 100%;
    }
}