
/* Responsive */

@media only screen and (max-width: 800px){
    .nav_container{
        max-width: 100vw;
        gap: 0;
        height: 15vh;
    }
    #logo{
        margin: 7vw;
        width: 15vw;
    }
    /* Menu acordeon *Pendiente* */
    .nav_items{
        font-size: 10px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    li{
        margin-right: 2vw;
    }
    .botones_login{
        align-self: center;
    }
    h1{
        font-size: 5vh;
    }
    .presentation{
        flex-direction: column;
    }
    .boton{
        margin: 20px;
        height: 15vw;
        width: 30vw;
    }
    .intro{
        width: 100%;
        margin: auto;
        padding: 10px;
    }
    #big_car{
        width: 100%;
    }

    /*  FOOTER */
    .foot{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    #suscribirse{
        margin: 4px auto;
    }

}

