{% extends './base.html' %}
{% load static %}

{% block content %}



<div class="container border-1 border-primary">
    <div class="row">
        <div class="col-md-3">
            <aside class="border-right pb-3">
                <h6>Opciones de búsqueda</h6>
                <form action="{% url 'buscar_accesorios' %}" method="get">
                  <div class="mb-3">
                      <label for="searchInput" class="form-label">Búsqueda:</label>
                      <input type="text" class="form-control form-control-sm" id="searchInput" name="nombre" placeholder="Ingrese nombre accesorio">
                  </div>
                  <button type="submit" class="btn btn-danger">Buscar</button>
              </form>
                <!-- <form>
                    <div class="mb-3">
                        <label for="searchInput" class="form-label">Busqueda:</label>
                        <input type="text" class="form-control form-control-sm" id="searchInput" placeholder="Ingrese nombre accesorio">
                    </div>
                    <button type="submit" class="btn btn-danger">Buscar</button>
                </form> -->
                <p></p>
                <h6>Busqueda por marca</h6>
                <div class="">
                    <label class="form-label">Marca:</label>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="chevrolet" id="chevroletCheckbox">
                        <label class="form-check-label" for="chevroletCheckbox">
                            Chevrolet
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="ford" id="fordCheckbox">
                        <label class="form-check-label" for="fordCheckbox">
                            Ford
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="volkswagen" id="volkswagenCheckbox">
                        <label class="form-check-label" for="volkswagenCheckbox">
                            Volkswagen
                        </label>
                    </div>
                </div>
                
            </aside>
        </div>
        <div class="col-md-9">
            <div>
              <h1>Accesorios Originales</h1>
              <div class="row">
                  {% for accesorio in accessory %}
                  <div class="col-md-4">
                      <div class="card" style="width: 300px; height: auto;">
                          <div class="card-header">{{ accesorio.name }}</div>
                            <div class="card-body">
                              <p><strong>Color:</strong> {{ accesorio.color }}</p>
                              <p><strong>Marca:</strong> {{ accesorio.brands.name }}</p>
                              <p><strong>Descripción:</strong> {{ accesorio.description }}</p>
                              <p><strong>Categoria:</strong> {% for category in accesorio.categories.all %}{{ category.name }} / {% endfor %}</p>
                              <p><strong>Precio:</strong> ${{ accesorio.price }}</p>      
                            </div>
                            <div class="card-footer">
                              {% if user.is_staff %}
                                <form method="POST" action="{% url 'eliminar_accesorio' %}">
                                  {% csrf_token %}
                                  <input type="hidden" name="accesorio_id" value="{{ accesorio.id }}">
                                  <button type="submit" class="btn btn-primary">
                                  <ion-icon name="trash-outline"></ion-icon>
                                  </button>
                                </form>
                              {% endif %}
                            </div>
                          </div>
                      </div>
                  </div>
                  {%  endfor %}
                <!-- <h1>Accesorios Originales</h1>
                <div class="row">
                    {% for accesorio in accessory %}
                    <div class="col-md-4">
                        <div class="card" style="width: 300px; height: 290px;">
                            <div class="card-header">{{ accesorio.name }}</div>
                            <div class="card-body">
                                <p><strong>Color:</strong> {{ accesorio.color }}</p>
                                <p><strong>Marca:</strong> {{ accesorio.brand }}</p>
                                <p><strong>Descripción:</strong> {{ accesorio.description }}</p>
                                <p><strong>Precio:</strong> ${{ accesorio.price }}</p>      
                                {% if user.is_staff %}
                                  <form method="POST" action="{% url 'eliminar_accesorio' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="accesorio_id" value="{{ accesorio.id }}">
                                    <button type="submit" class="btn btn-primary">
                                    <ion-icon name="trash-outline"></ion-icon>
                                    </button>
                                  </form>
                                {% endif %}
                            </div>
                        </div>
                    </div> -->
                    <!-- {% endfor %} -->
                </div>
            </div>
        </div>
    </div>
</div>



<!-- ********************************** MODAL PARA INGRESAR ACCESORIOS *************************************  -->
{% if user.is_staff %}
{% if is_accesories_page %}
        <div class="ms-5">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAccesory">
            Ingresar Accesorio
          </button>
        </div>
        {% endif %}
<div class="modal fade" id="modalAccesory" tabindex="-1" aria-labelledby="modalAccesoryLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalAccesoryLabel">Ingresar Accesorio</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST" action="{% url 'add_accessory' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
              <label for="name" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="mb-3">
              <label for="color" class="form-label">Color</label>
              <input type="text" class="form-control" id="color" name="color" required>
            </div>
            <div class="mb-3">
              <label for="brand" class="form-label">Marca</label>
              <!-- <input type="text" class="form-control" id="brand" name="brand" required> -->
              <select class="form-control" id="brand" name="brand" required>
                <option value="" selected disabled>Selecciona una marca</option>
                  {% for brand in brands %}
                    <option value="{{ brand.name }}">{{ brand.name }}</option>
                  {% endfor %}
              </select>
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Descripción</label>
              <textarea class="form-control" id="description" name="description" required></textarea>
            </div>
            <div class="mb-3">
              <label for="image" class="form-label">Imagen</label>
              <input type="file" class="form-control" id="image" name="image" required>
            </div>
            <div class="mb-3">
              <label for="price" class="form-label">Precio</label>
              <input type="number" step="0.01" class="form-control" id="price" name="price" required>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </form>
        </div>
      </div>
    </div>
  </div>

<!-- ********************************* FIN MODAL INGRESO DE DATOS **************************************** -->



<script>
console.log("Mensaje de prueba script");
$(document).ready(function() {
    // Capturar el evento de envío del formulario
    $('#modalAccesory').submit(function(event) {
        // Obtener la URL de la vista add_accessory
        
        console.log("Mensaje de prueba 5  ");
    var url = 'add_accessory/';

    // Asignar la URL al atributo action del formulario
    $(this).attr('action', url);
  });
});
</script>
{% endif %}

{% endblock %}