{% load static %}

{% include './header/header2.html' %} 

{% block head %}

{% endblock %}

<body>   
    <main>

        {% block content %}
            
        <h1>
                Su consulta fue enviada
            </h1>
            <p>Gracias <b>{{nombre}}</b>, su consulta sera respondida a la brevedad por uno de nuestros representantes.</p>
            
            <a href="{% url 'index' %}">Regresar al índice</a>
        
        {% endblock %}
    
    </main>
    
    {% include './footer/footer.html' %}
    
</body>


</html>








