{% extends './base.html' %}
{% load static %}


{% block content %}

    <div class="presentation">
        <div class="intro">
            <p class="fs-4">Buscas el auto de tus sueños?...</p>
            <h1 class="display-2 fw-bold">El <span style="color:#E53114 ">mejor</span> precio para tu 0km</h1>
            <p class="fs-6">Amplia selección de vehiculos, las mejores marcas del mercado.</p>
            <div class="boton_container">
                <!-- <span><button class="boton" id="conoce_mas">Conoce mas</button></span>
                <span><button class="boton" id="accesorios">Accesorios Originales</button></span> -->
                <form class="container-fluid justify-content-start">
                    <button class="btn bg-danger text-white" type="button">Conoce mas</button>
                    <button class="btn bg-black text-white me-2" type="button">Accesorios Originales</button>
                </form>
            </div>
        </div>
        <div id="big_car">
            <img id="orange_car" src="static/img/auto_naranja.png" alt="car_notfound">
        </div>
    </div>
    <!-- </section> -->

    <a id="vehiculos"></a>
    <section class="section" id="section 2">
        <div class="container_logos">
            <!-- <a href="#" id="chevrolet" class="marcas1" data-target="card_wrapper_chevrolet"><span></span></a>
            <a href="#" id="ford" class="marcas2" data-target="card_wrapper_ford"><span></span></a> -->
            <span class="marcas1" id="marcas1"></span>
            <span class="marcas2" id="marcas2"></span>
            <span class="marcas3" id="marcas3"></span>
        </div>
    
        <div class="card_wrapper_chevrolet" id="wrapper_chevrolet">
            <div class="card" style="width: 18rem;">
                <img src="../static/img/chevrolet_logo.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../static/img/chevrolet_logo.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../static/img/chevrolet_logo.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <div class="card_wrapper_ford" id="wrapper_ford">
            <div class="card" style="width: 18rem;">
                <img src="../static/img/ford_logo.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../static/img/ford_logo.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../static/img/ford_logo.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </section>


    <a id="contacto"></a>
   
    <div class="titulo_contacto">
        <h2> Contacta con nuestros vendedores</h2>
    </div>
   
    <div class="contact">
        {% include 'bootstrap_alerts.html' %}
        <form action="" method="POST">
            {% csrf_token %}
                <p>Nombre</p>
                    {{ contact_form.name }}
                <p>Email</p>
                    {{ contact_form.email }}
                <p>Mensaje</p>
                    {{ contact_form.msg }}
                <p></p>


            <div class="form_buttons">
                <input type="submit" class="btn btn-danger">
                <input type="reset" class="btn btn-secondary">
            </div>  
        </form>
    </div>


    <script src="{% static '../static/js/scripts.js' %}"></script>

    {% endblock %}


</body>
</html>