{% load static %}
{% include './header/header2.html' %} 

{% block head %}
<link rel="stylesheet" href="{% static 'css/signup_style.css' %}">
{% endblock %}


<body>   
  <main>

      {% block content %}
      <div class="contenedor_formulario">
    
        <h2> Registro </h2>
        
        <form action="{% url 'signup' %}" method="POST" class="formulario_registro">
          
          {% csrf_token %}
          
          
          {% for field in form %}
          <p>
            {%  if field.errors %}
            <ul class="errorlist">
              {% for error in field.errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
            {% endif %}
            {{ field.label_tag }} {{ field }}
            
          </p>
          {% endfor %}
          
          <!--{{ form.as_p }}-->
          
          <input type="reset" value="Limpiar" class="cancelbtn">
          <input type="submit" value="Registrar" class="signupbtn">
          
        </form> 
      </div>
       
          {% endblock %}
  
  </main>
  
  {% include './footer/footer.html' %}
  
</body>


</html>

  
  