<!-- <link rel="stylesheet" href="../../static/css/index_styles.css"> -->
<!--<link rel="stylesheet" href="./footer/footer.css"> -->


<footer id="footerClass">
    <div class="foot">
        <div class="item" id="item1">
            <h2>Contacto</h2>
            <p>Ofrecemos una gran varierdad de vehiculos para cubrir las necesidades de cada conductor</p>
            <div><ion-icon name="call-outline"style="zoom:1.5;" ></ion-icon>15755046</div>
            <div><ion-icon name="mail-outline" style="zoom:1.5;" ></ion-icon>cualquiera@gmail.com</div>
        </div>
        <div class="item">
            <h3>Empresa</h3>
            <p>Sucursales</p>
            <p>Nuestras redes</p>
            <div class="socialicons">
                <ion-icon name="logo-facebook" style="zoom:2.0;"></ion-icon>
                <ion-icon name="logo-instagram" style="zoom:2.0;"></ion-icon>
                <ion-icon name="logo-twitter" style="zoom:2.0;"></ion-icon>
            </div>
        </div>
        <div class="item">
            <h4>Horarios</h4>
            <p>Lunes a viernes</p>
            <p>9:00 a 21:00</p>
            <p>Sabados</p>
            <p>9:00 a 13:00</p>
            <p>Domingos cerrado</p>
        </div>
        <div class="item">
            <h5>Suscripcion</h5>
            <p>Suscribite y recibi al instante todas las novedades</p>
            <input type="mail">
            <button id="suscribirse">Registrate</button>
        </div>
    </div>
    <div id="copyright">
        <p>Codo a Codo 2023. Todos los derechos reservados ®</p>
    </div>
</footer>