<div class="d-flex flex-column h-100">
    <footer class="w-100 py-4 flex-shrink-0">
        <div class="container py-4">
            <div class="row gy-4 gx-5">
                <div class="col-lg-4 col-md-6">
                    <h5 class="h1 text-black">Contacto</h5>
                    <p class="small text-muted">Ofrecemos una gran varierdad de vehiculos para cubrir las necesidades de cada conductor</p>
                    <div class="cont"><ion-icon name="call-outline"style="zoom:1.5;" ></ion-icon>15755046</div>
                    <div class="cont"><ion-icon name="mail-outline" style="zoom:1.5;" ></ion-icon>cualquiera@email.com</div>
                    <p class="small text-muted mb-0">&copy; Codo a Codo 2023. Todos los derechos reservados</p>
                </div>
                <div class="col-lg-2 col-md-6">
                    <h5 class="text-black mb-3">Quick links</h5>
                    <ul class="list-unstyled text-muted">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Get started</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-7">
                    <h5 class="text-black mb-3">Horarios</h5>
                    <ul class="list-unstyled text-muted small">
                        <p>Lunes a viernes</p>
                        <p>9:00 a 18:00</p>
                        <p>Sabados</p>
                        <p>9:00 a 13:00</p>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6">
                    <h5 class="text-black mb-3">Suscripcion</h5>
                    <p class="small text-muted">Suscribite y recibi al instante todas las novedades</p>
                    <form action="#">
                        <div class="input-group mb-3">
                            <input class="form-control" type="text" placeholder="Ingresa tu email" aria-label="Ingresa tu email" aria-describedby="button-addon2">
                            <button class="btn btn-danger" id="button-addon2" type="button"><i class="fas fa-paper-plane"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </footer>
</div>
    

<!-- <footer id="footerClass">
    <div class="foot">
        <div class="item" id="item1">
            <h5>Contacto</h5>
            <p>Ofrecemos una gran varierdad de vehiculos para cubrir las necesidades de cada conductor</p>
            <div class="cont"><ion-icon name="call-outline"style="zoom:1.5;" ></ion-icon>15755046</div>
            <div class="cont"><ion-icon name="mail-outline" style="zoom:1.5;" ></ion-icon>cualquiera@email.com</div>
        </div>
        <div class="item">
            <h5>Empresa</h5>
            <p>Sucursales</p>
            <p>Nuestras redes</p>
            <div class="socialicons">
                <ion-icon name="logo-facebook" style="zoom:2.0;"></ion-icon>
                <ion-icon name="logo-instagram" style="zoom:2.0;"></ion-icon>
                <ion-icon name="logo-twitter" style="zoom:2.0;"></ion-icon>
            </div>
        </div>
        <div class="item">
            <h5>Horarios</h5>
            <p>Lunes a viernes</p>
            <p>9:00 a 21:00</p>
            <p>Sabados</p>
            <p>9:00 a 13:00</p>
            <p>Domingos cerrado</p>
        </div>
        <div class="item">
            <h5>Suscripcion</h5>
            <p>Suscribite y recibi al instante todas las novedades</p>
            <input type="mail">
            <input type="submit" class="btn btn-danger" id="suscribirse">
        </div>
    </div>
</footer>
<div id="copyright">
    <p>Codo a Codo 2023. Todos los derechos reservados ®</p>
</div>
</footer> -->