<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="./header.css"> -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Noto Sans' rel='stylesheet'>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    

</head>

<header>

    <div class="nav_container">
        <span>
            <img src="../../static/img/logo.png" alt="no_logo" id="logo">
        </span>
        <nav class="nav_items">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href= "{% url 'car' %}">Vehiculos</a></li>
            <li><a href="{% url 'acc' %}">Accesorios</a></li>
            <li><a href="{% url 'contact' %}">Contactanos</a></li> 
        </nav>
        <div class="botones_login">
            <li>Iniciar Sesion</li> 
            <button class="boton"><a href= "{% url 'signup' %}">Registrate</a></button>
        </div>
    </div>

</header>